{% extends "account/base.html" %}

{% load i18n %}

{% block head_links %} 

<title>Sign In</title>

{% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}

{% block content %}

      <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Login</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </section>

<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
<div style="text-align: center;margin-top: 50px;">
<h1> Log In </h1>
</div>
<div class="col-12 col-sm-8 col-lg-5 list-group-item d-flex justify-content-between align-items-center" style="margin-right: auto;margin-left: auto; margin-top: 10px; margin-bottom: 10px;">

<form class="container-fluid text-center" id="login_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  
  {{ form.as_p }}

  {% if redirect_field_value %}
  
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button  class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
  <a  class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>  

</form>
</div>
    {% load account socialaccount %}

    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list" style="text-align: center; padding: 10px">
    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-outline-dark" 
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fab fa-{{provider.name}}" id="social_icon"></i>{{provider.name}}</a>
    {% endfor %}
        <a title="Sign Up" class="btn btn-outline-dark" href="/accounts/signup/">
            Registrate
        </a>

    </ul>
</div>
{% endblock %}
