{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head_links %} 

<title>Signup</title>

{% endblock %}

{% block content %}

  <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Registro</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Registro</li>
                </ol>
            </nav>
        </div>
    </section>

<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
  
<div style="text-align: center; margin-top: 30px;">
<h3 class="h3" id="head_banner">{% trans "Registrate" %}</h3>



<p class="exist_account_info">{% blocktrans %}Ya tienes una cuenta? <a href="{{ login_url }}">Logeate</a>.{% endblocktrans %}</p>
</div>

<div class="col-12 col-sm-8 col-lg-5 list-group-item d-flex justify-content-between align-items-center" style="margin-right: auto;margin-left: auto; margin-bottom: 40px;">
<form class="container-fluid text-center form-group" style="display: flex;align-items: center;flex-direction: column;"id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="btn btn-outline-dark" type="submit">{% trans "Sign Up" %}</button>
</form>
</div>

</div>
{% endblock %}
