{% include 'header.html' with tab=4%}


<style>

    #unis{
        display: flex;
        padding:7px;
    }
    .centered-container {
        width: 100%;
        padding: 20px;
        flex-grow: 1;
    }

    .centered-container .container .row{
        justify-content: center;
    }
    #filters{
        margin-top: 10px;
        margin-bottom: 10px;
       border: 2px solid black;;
         border-radius: 5px;
        padding: 7px;
    }
    #all{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        margin-bottom: 80px;
    }
</style>


<section class="hero-banner d-flex align-items-center">
    <div class="container text-center">
        <h2>Programas</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Programas</li>
            </ol>
        </nav>
    </div>
</section>

<div id="all">

<div id="unis">
<div>
    <div id="filters">
        <h6> <b> Ordenar por:</b> </h6>
            <select id="mySelect" onchange="myFunction()" >
                <option>

                </option>
                <option value="A-Z" {% if request.GET.order_by  == "AZ" %} selected {% endif %}>

                    De la A-Z
                </option>
                <option value="Z-A" {% if request.GET.order_by  == "ZA" %} selected {% endif %}>
                    De la Z-A
                </option>
                <option value="user-rating" {% if request.GET.order_by  == "rating" %} selected {% endif %}>
                    Rating de usuarios
                </option>
            </select>
    </div>
    <div id="filters">
        <div >
            <h6> <b> Filtrar </b></h6>
               <b>Tipo: </b> <br>

              <input type="checkbox" name="tipo" value="pregrado" id="pregcheck" {% if request.GET.pregrado  == "true" %} checked {% endif %}> Pregrado<br>
              <input type="checkbox" name="tipo" value="posgrado" id="poscheck" {% if request.GET.posgrado  == "true" %} checked {% endif %}> Posgrado <br>
            <b>Inscripciones abiertas ya: </b> <br>
            <input type="checkbox" name="inscripciones" value="si" id="insccheck" {% if request.GET.insc  == "true" %} checked {% endif %}> Sí <br>

            <b> Rating: </b> <br>
            Mínimo <br>
            <input id="low_range" type="number" name="uni_cal" min="0" max="5" step="0.1" value={% if request.GET.low_range  != "" %} {{ request.GET.low_range }} {% endif %}> <br>
            Máximo <br>
            <input id="high_range" type="number" name="uni_cal" min="0" max="5" step="0.1" value={% if request.GET.high_range  != "" %} {{ request.GET.high_range }} {% endif %}> <br>
            <button id="goBtn" class="btn btn-outline-secondary" style="margin-top: 5px;margin-bottom: 5px;"> Vamos </button>
        </div>



          </div>



        <div id="filters">
        <div class="input-group">
                <input type="text" class="form-control" placeholder="Nombre Programa" id="progName" value={% if request.GET.progname  != "" %} {{ request.GET.progname}} {% endif %}>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="progNameBtn">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
        </div>

    </div>

    <a href="/programs" class="btn btn-outline-secondary">
          <span class="glyphicon glyphicon-remove-circle"></span> Limpiar filtros
    </a>
    </div>

<script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  var searchParams = new URLSearchParams(window.location.search);
  switch (x) {
      case "A-Z":
          searchParams.set("order_by", "AZ");
          break;
      case "Z-A":
          searchParams.set("order_by", "ZA");
          break;
      case "user-rating":
          searchParams.set("order_by", "rating");
          break;
  }
    window.location.search = searchParams.toString();
}

document.getElementById("goBtn").addEventListener("click", redirectSearch);

function redirectSearch() {
    var pregrado = document.getElementById("pregcheck").checked;
    var posgrado = document.getElementById("poscheck").checked;
    var inscripciones = document.getElementById("insccheck").checked;;

  var low_range = document.getElementById("low_range").value;
  var high_range = document.getElementById("high_range").value;

  var searchParams = new URLSearchParams(window.location.search);


        searchParams.set("pregrado", pregrado);
        searchParams.set("posgrado", posgrado);


        searchParams.set("insc", inscripciones);
    if(low_range != "")
        searchParams.set("low_range", low_range);
    if(high_range != "")
        searchParams.set("high_range", high_range);

   window.location.search = searchParams.toString();
}

document.getElementById("progNameBtn").addEventListener("click", nameSearch);

function nameSearch(){
    var name = document.getElementById("progName").value
    var searchParams = new URLSearchParams(window.location.search);

    searchParams.set("progname", name);

    window.location.search = searchParams.toString();
}


</script>

<div class="centered-container">
<div class="container">
  <div class="row">
    <div class="col-20 col-sm-20 col-lg-8">
      <h6 class="text-muted">Lista de Programas</h6>
      <ul class="list-group">
          {% for program in programs %}
        <a href="/university/{{ program.faculty.university.id }}/{{ program.faculty.id }}/{{ program.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div class="flex-column">
            {{ program.name }} , {{program.faculty.university.name }}
            <!-- <p><small>by Miguel de Cervantes</small></p>
            <span class="badge badge-info badge-pill"> 2 Copies in Stock</span>
            -->
              <div>
                  <b>Puntaje usuarios: </b>
              <img src = "https://creative-it.ie/wp-content/uploads/2018/02/orange-rating-star-256.gif" width="20" height="20">
              <span class="badge badge-success badge-pill">  {{ program.prog_calification }}/5.0  </span>
              </div>
              <div>

                  <b> Tipo: </b>{{ program.get_tipo_display.capitalize }}
              </div>
          </div>
          <div class="image-parent">
              <img src="/media/{{ program.faculty.university.logo }}" class="img-fluid" alt="LOGO-U" height="100" width="100">
          </div>
        </a>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

</div>

{% include 'footer.html' %}